<table id="releaseTable" class="table table-striped table-bordered table-responsive">
  <tr>
    <th>ID</th>
    <th>ARTIST</th>
    <th>TITLE</th>
    <th>EDITION</th>
    <th>IMAGE</th>
  </tr>
  {{#each releaseArray}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.artist}}</td>
    <td>{{this.title}}</td>
    <td>{{this.edition}}</td>
    {{#if this.cover_image}}
      <td><a href="{{this.cover_image}}" target="_blank">{{this.cover_image}}</a></td>
    {{else}}
      <td>Image URL not found</td>
    {{/if}}
  </tr>
  {{/each}}
</table>
<p><button id="exportButton" class="btn btn-primary" type="button" name="button">Export to .xlsx</button></p>
<p><a href="/">Return to main page</a></p>
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.3/dist/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
<script>
var releaseTable = document.getElementById('releaseTable');
var exportButton = document.getElementById('exportButton');

function exportTableToExcel() {
    // convert table to excel sheet
    var wb = XLSX.utils.table_to_book(releaseTable, {sheet:"Image Links"});
    // write sheet to blob
    var blob = new Blob([s2ab(XLSX.write(wb, {bookType:'xlsx', type:'binary'}))], {
	    type: "application/octet-stream"
	});
    // return sheet file
    return saveAs(blob, '{{title}}.xlsx');
}

function s2ab(s) {
    var buf = new ArrayBuffer(s.length);
    var view = new Uint8Array(buf);
    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
    return buf;
}

exportButton.addEventListener('click', exportTableToExcel);
</script>
